header {
  width: 100%;
  border: solid;
  text-align: center;
  background-color: lightgrey;
}
main {
  height: calc(100vh - 60px);
}
footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: lightgrey;
  border: solid;
}
